

body {
    flex-direction: column;
    background-color: var(--background);
    font-family: "Noto Sans";
}


header {
    z-index: 1000;
    top: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10%;
    align-items: center;
    height: 110px;
    width: 100%;
    background-color: var(--background-dark);
    border-bottom: solid 10px #383048;
}   


.logo {
    display: flex;
    flex-direction: row;    
    align-items: center;
    height: 100%;
}


header a{
    height: 100%;
}


.logo p {
    color: var(--main-text);
    font-size: 300%;
}


.logo img {
    height: 50%;
    padding-right: 20px;
}


.header-buttons {
    display: flex;
    flex-direction: row;
}


.button {
    background-color: var(--main-text);
    border: 1px solid var(--main-text);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    color: black;
    cursor: pointer;
    font-size: 120%;
    outline: none;
    outline: 0;
    padding: 15px 40px;
    margin-left: 30px;
    text-align: center;
    vertical-align: middle;
    text-wrap: nowrap;
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}


.button:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}


.white {
    background-color: var(--background);
    border: 1px solid var(--background);
}


main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 110px;
    padding: 0 10%;
    width: 100%;
    min-height: calc(100vh - 220px);
    background-color: var(--background);
}


#button-up {
    display: none;
    position: fixed; 
    bottom: 20px;
    right: 30px;
    z-index: 99;
    width: 50px;
    height: 50px;
    padding-bottom: 7px;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: center;
    border: none; 
    outline: none; 
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 2em;
}
  

#button-up:hover {
    background-color: #555;
}


footer {
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-dark);
    border-top: solid 10px #383048;
}


footer p {
    color: var(--second-text);
}


#get-by-uuid {
    display: flex;
    width: 50%;
}


.uuid-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.uuid-form input{
    height: 100%;
    margin: 5px;
    font-size: 2em;
}


.enter-uuid {
    border-radius: 10px;
}
