@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "variables.css";


body {
    background-color: var(--background);
}


header {
    top: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10%;
    align-items: center;
    height: 110px;
    width: 100%;
    background-color: var(--background-dark);
    border-bottom: solid 10px #383048;
}   


.logo {
    display: flex;
    flex-direction: row;    
    align-items: center;
    height: 100%;
}


header p {
    color: var(--main-text);
    font-family: "Noto Sans";
    font-size: 300%;
}


header img {
    height: 50%;
    padding-right: 20px;
}


.header-buttons {
    display: flex;
    flex-direction: row;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
    padding: 0 10%;
    width: 100%;
    background-color: var(--background);
}


.go-button {
    background-color: var(--main-text);
    border: 1px solid var(--main-text);
    border-radius: 15px;
    margin-left: 30px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    color: black;
    cursor: pointer;
    font-size: 150%;
    outline: none;
    outline: 0;
    padding: 15px 40px;
    text-align: center;
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}


.go-button:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}


.uuid-form {
    display: flex;
    margin: 0 10px;
    padding: 10px;
    width: 50%;
}


.white {
    background-color: var(--background);
    border: 1px solid var(--background);
}


.search{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
}


.block_count{
    font-size: 200%;
    font-family: "Noto Sans";
}


select {
    padding: 10px 25px;
    font-family: "Noto Sans";
    font-size: 1em;
}


.surveys {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 0 6.6%;    
}


.surv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    padding: 25px;
    width: 20%;
    height: 400px;
    text-align: left;
    background: var(--background-dark);
    border-radius: 18px;
    color: var(--main-text);
    font-size: 24px;
    margin-bottom: 50px;
}


.surv-info {
    display: flex;
    flex-direction: column;
}


.surv-info-item{
    color: var(--main-text);
    font-family: "Noto Sans";
    margin-bottom: 25px;
}


.surv-info-topic{
    color: var(--second-text);
    font-family: "Noto Sans";
}


.surv-button {
    margin: 0;
    font-size: 100%;
}


footer {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-dark);
}


footer p {
    color: var(--second-text);
    font-family: "Noto Sans";
}