@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "variables.css";


.uuid-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.uuid-form input{
    height: 100%;
    margin: 5px;
    font-size: 2em;
}


.enter-uuid {
    border-radius: 10px;
}


.white {
    background-color: var(--background);
    border: 1px solid var(--background);
}


.search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
}


.block_count{
    font-size: 200%;
    font-family: "Noto Sans";
}


select {
    padding: 10px 25px;
    font-family: "Noto Sans";
    font-size: 1em;
}


.surveys {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    gap: 0 2.6%;    
}


.surv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    padding: 25px;
    width: 18vw;
    height: 400px;
    text-align: left;
    background: var(--background-dark);
    border-radius: 18px;
    color: var(--main-text);
    font-size: 24px;
    margin-bottom: 50px;
}


.surv-info {
    display: flex;
    flex-direction: column;
}


.surv-info-item{
    color: var(--main-text);
    font-family: "Noto Sans";
    margin-bottom: 25px;
}


.surv-info-topic{
    color: var(--second-text);
    font-family: "Noto Sans";
}


.surv-button {
    margin: 0;
    font-size: 100%;
}

